body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}
