body {
    margin: 0;
    background: linear-gradient(to right, #85798d, #c6d0dc);
    padding: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #56564e, #44423e);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

#logo {
    margin-right: auto;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
    font-style: oblique;
}

.welcome{
    text-align: center;
}

section {
    margin: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}
#contactForm{
    display: inline-block;
}

/*----------------------------------------*/

.user-container {
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(157, 153, 153);
    padding: 2px;
    width: 200px;
    justify-content: space-between; /* Vertically space items evenly */
}

.user-container:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.user-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 15px;
    padding-top: 10px;
}

.user-details img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    flex-grow: 1; 
    margin-bottom: 10px;
}
.user-details h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.post {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;

}

.user-profile-btn:hover {
    background-color: #785757;
    cursor: pointer;
} 
.comment-container{
    display: flex;
    border: 0.5px solid rgb(157, 153, 153);
    padding: 2px;
    width: 200px;
    justify-content: space-between; /* Vertically space items evenly */

}

/*-----------------------------------*/



